@import '../../styles/settings.scss';

.navbar {
	background-color: darken($color-dark, 3%);
}

.navContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon {
	font-size: 24px !important;
	display: block;
}

.list {
	display: inline-flex;
	list-style-type: none;

	li {
		padding: 0 12px;
	}
}

a {
	text-decoration: none;
	color: $color-light;
	font-weight: bold;
}

.linkActive {
	color: $color-warning;
}